@font-face {
  font-family: "DM  Sans";
  src: url("./assets/fonts/static/DMSans-Medium.ttf") format(("truetype"));
  font-weight: 400, 500;
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/static/DMSans-MediumItalic.ttf") format("truetype");
  font-weight: 400, 500;
  font-style: italic;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --Purple1: hsl(254, 88%, 90%);
  --Purple2: hsl(256, 67%, 59%);

  --Yellow1: hsl(31, 66%, 93%);
  --Yellow2: hsl(39, 100%, 71%);

  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 7%);
}

body {
  margin: 0;
  background-color: #f4f5f7;
  display: grid;
}

img {
  display: block;
  max-width: 100%;
}

.bento {
  width: calc(100% - 2rem, 25.875rem);
  margin: 1.5rem auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  font-family: "DM Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.bento__card {
  min-height: 8rem;
  padding: 1rem;
  border-radius: 1.25rem;
  background-color: white;
  margin: 0;
  overflow: hidden;
}

.card__first {
  background-color: var(--Purple2);

  color: white;
  text-align: center;
}

.card__first--title {
  font-weight: 400;
  font-size: 3rem;
  line-height: 3rem;
  padding: 2rem 0;
  margin: 0;
}

.card__first--highlight {
  color: var(--Yellow2);
}

.card__first--img {
  padding: 0 4rem;
}

.card__first--desc {
  font-size: 1.5rem;
}

.card__second--desc {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 500;
}

.card__third {
  background-color: var(--Yellow2);
  padding: 0.75rem 0.75rem 0 1rem;
}
.card__third--title {
  margin: 0;
}
.card__third--img {
  margin-top: 0.5rem;
  width: 50%;
}

.card__fourth {
  background-color: var(--Purple1);
  text-align: center;
}

.card__fourth--desc {
  font-size: 1.2rem;
}

.card__fifth {
  background-color: var(--Purple2);
}

.card__fifth--img {
  width: 70%;
  height: 55%;
  justify-self: center;
}

.card__fifth--title {
  color: var(--White);
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

.card__sixth--percentage {
  font-size: 2.5rem;
  font-weight: 500;
}

.card__sixth--desc {
  margin-top: 0;
  font-size: 1rem;
}

.card__sixth--img {
  width: 60%;
}

.card__seventh {
  background-color: var(--Yellow1);
  font-size: 2rem;
}

.card__seventh--highlight {
  color: var(--Purple2);
}

.card__seventh--img {
  width: 60%;
}

.card__eighth {
  background-color: var(--Yellow2);
  font-size: 2rem;
  font-weight: 500;
}

.card__eighth--img {
  width: 70%;
}

/* Footer */
.attribution {
  font-size: 0.6875rem;
  text-align: center;
  margin-bottom: 0.5rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 441px) {
  .bento {
    grid-template-columns: repeat(4, 15rem);
    grid-template-rows: repeat(4, 10rem);
    margin: 5rem 3rem;
    justify-content: center;
  }

  .card__first {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    align-items: center;
  }
  .card__second {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .card__third {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .card__fourth {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  .card__fifth {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    display: flex;
  }

  .card__fifth--img {
    width: 8rem;
    height: 8rem;
  }

  .card__sixth {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .card__seventh {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .card__eighth {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
  }
}
